{% load  static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'exe.css'%}"/>
</head>
<body>
<div class="topnav">
    <li><a class="active" href="https://www.google.co.in/" href="#home">Home</a>
    <a href="https://learn.talentsprint.com/login" href="#login">Login/Register</a>
    <a href="https://talentsprint.com/about-us.dpl"  href="#about"  >AboutUs</a>
    <a href="https://talentsprint.com/contact.dpl" href="#contact">ContactUs</a>
        <i class="fa fa-close" style="font-size:36px"></i>
    <a style="padding-left: 1000px" href="https://talentsprint.com/logout.dpl" href="#exit">Log out</a>
    </li>
</div>
<div>
    <img src="https://media.istockphoto.com/photos/hello-and-welcome-written-white-lightbox-sitting-on-blue-background-picture-id1371547852?b=1&k=20&m=1371547852&s=170667a&w=0&h=vRGvMO4a7KKYdTQ9Ln1UVdlg5C0POExw73jGsotVgzA=" height="450px" width="450px">
</div>
<div>
    <center><h1 >Welcome to my Project Ganesh</h1></center>
</div>
</body>
</html>